/init.el
/kill-ring-saved.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/recentf~
/bookmarks
/elpa
/auto-save-list
/.python-environments
init.el
/init.elc
/init.el
/snippets/my-python-mode/imshow2~
